{{!-- <h4>Profile</h4>
<div id="savedArmorSets">
  {{#if armors.length}}
  {{#each armors}}
  <tr class="armor-row" data-type="{{this.type}}">
    <td>{{this.name}}</td>
    <td>{{this.type}}</td>

  </tr>
  {{/each}}
  {{else}}
  <p>No Armor Saved</p>
  {{/if}}
</div> --}}



<div id="savedArmorSets">
  <table class="armor-table">
    <thead>
      <tr>
        <th><h2 class="MH-label">Profile</h2></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#if armors.length}}
        {{#each armors}}
          <tr class="armor-row" data-type="{{this.type}}">
            <td>{{this.name}}</td>
            <td>
              <button class="deleteButton btn btn-primary" data-armor-id="{{this.set_Id}}">
                Delete Armor Piece
              </button>
            </td>
          </tr>
        {{/each}}
      {{else}}
        <p>No Armor Saved</p>
      {{/if}}
    </tbody>
  </table>
</div>




<script src="/js/profile.js"></script>